body {
  background: rgb(57, 58, 110);
  
}

.App {
  display: flex;
  justify-content: center;
}

.App__backdrop {
  position: absolute;
  height: 420px;
  width: 100%;
  background: #43457F;
  z-index: -1;
}

.App__backdrop__logo {
  height: 100px;
  margin: 1rem;
}

.App__chatwindow {
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.4);
  border: 1px solid #d0d0d0;
  display: flex;
  margin-top: 40px;
  width: 70%;
  height: 800px;
}

@media only screen and (max-width: 900px) {
  .App__chatwindow {
    margin-top: 0;
    width: 100%;
    height: 100vh;
  }
}
